:root {
  --green: #0ba989;
  --light-green: #ace7db;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

body[data-theme="dark"] {
  --primary: #343131;
  --secondary: #ffffff;
}

body[data-theme="light"] {
  --primary: #ffffff;
  --secondary: #343131;
}
